.Monitor {
  float: left;
  margin: 10vw 0 0 5%;
  padding: 0.5vw;
  
  border-radius: 0.6vw;
  border: solid 0.2vw black;

  background-color: #3f8ed3;
}

.Monitor .background{
  text-align: center;
  background-color: white;
  border: solid 0.1vw black;
}

.Monitor .background .display{
  width: 20vw;
  height: 10vw;
  padding: 5vw 0;
  line-height: 5vw;
  font-size: 2.5vw;
  border-radius: 0.5vw;

  font-family: 'rubik';
  overflow-wrap: break-word;
}

.Monitor .background .selected{
  background-image: url('../../../public/assets/gifs/stars.gif');

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-animation: fade 1.5s ; /* Chrome, Safari, Opera */
  animation: fade 1.5s ;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes fade {
  from {opacity: 0.2;}
  to {opacity: 1;}
}
/* Standard syntax */
@keyframes fade {
  from {opacity: 0.2;}
  to {opacity: 1;}
}