.Wheel {
  position: relative;
  
  --scale: 32vw;

  --top:  calc(var(--scale) * 0.1);
  --left: calc(var(--scale) * 1);

  margin-top: var(--top);
  margin-left: var(--left);
}

.Wheel img {
  position: absolute;
}
.Wheel .axis {
  cursor: pointer;
  z-index: 3;
  width: calc(var(--scale) * 0.34);
  top: 0;
  left: calc(var(--scale) * 0.33);;
}
.Wheel .spinner {
  cursor: pointer;
  z-index: 1;
  width: var(--scale);
  top: calc(var(--scale) * 0.0705);
  left: 0;
  transform-origin: 50% 49.94%; /* *to fix wheel image being a bit uncenterred */
}
.Wheel .shaft {
  z-index: 0;
  width: calc(var(--scale) * 0.7);
  top: calc(var(--scale) * 0.7);
  left: calc(var(--scale) * 0.15);;
}