.WheelLabel {
  cursor: pointer;

  display: table;
  overflow: hidden;

  position: absolute;
  z-index: 2;
 
  height: 4.2vw;
  width: calc((var(--scale) * 0.4));
  top: calc((var(--scale) * 0.5));
  left: calc((var(--scale) * 0.5));

  transform-origin: 0 50%;
}

.WheelLabel p {
  display: table-cell;
  vertical-align: middle;
  
  white-space: pre-line;
  text-align: right;
  font-weight: bold;
  font-size: 1.2vw;
}

.selected p{
  text-shadow: 
    -0.15vw 0 white, 
    0 0.15vw white, 
    0.15vw 0 white, 
    0 -0.15vw white;
}

/* * more heavy to calc shadow, can be used if needed */
/* text-shadow: 0.05vw 0.05vw 0 #fff,
-0.05vw 0.05vw 0 #fff,
0.05vw -0.05vw 0 #fff,
-0.05vw -0.05vw 0 #fff,
0px 0.05vw 0 #fff,
0px -0.05vw 0 #fff,
-0.05vw 0px 0 #fff,
0.05vw 0px 0 #fff,
0.1vw 0.1vw 0 #fff,
-0.1vw 0.1vw 0 #fff,
0.1vw -0.1vw 0 #fff,
-0.1vw -0.1vw 0 #fff,
0px 0.1vw 0 #fff,
0px -0.1vw 0 #fff,
-0.1vw 0px 0 #fff,
0.1vw 0px 0 #fff,
0.05vw 0.1vw 0 #fff,
-0.05vw 0.1vw 0 #fff,
0.05vw -0.1vw 0 #fff,
-0.05vw -0.1vw 0 #fff,
0.1vw 0.05vw 0 #fff,
-0.1vw 0.05vw 0 #fff,
0.1vw -0.05vw 0 #fff,
-0.1vw -0.05vw 0 #fff;
} */